<h2>Edit Topic</h2>
   
 <div class="row">
   <div class="col-md-4">
    <p>Guidelines for Topics:</p>
     <ul>
       <li>Topics must be atleast 5 characters.</li>
       <li>Make sure the topic is appropriate.</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>